*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.aboutus-head{
    background-image: -webkit-linear-gradient(left, #4688cae2,#5694d1b1,#1f66acb5, #0073e6bb);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
}
.about-0{
    margin-top: 90px;
    text-align: center;
}
.aboutus-head h1{
    font-family: 'Times New Roman';
    text-shadow: 2px 2px 4px #fff;
}
.about-1{
    position: relative;
    margin: 50px 170px 50px 170px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    display: flex;
}
.about-1 img{
    height: 500px;
    width: 500px;
}
.box{
    position: relative;
    padding:20px 0;
    display:flex;
    margin-top: -5px;
}
.box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    border: 3px solid #028482;
}
.box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 8px;
    flex-direction: column;
    font-weight: 300;
}
.box .text h3{
    font-weight: 600;
    color:#e86850;
}
 .box .text p{
    font-weight: 600;
    color:#000;
}
.contactInfo{
    padding: 100px 50px 0 100px;
    width: 60%;
}